data/
*.pptx
*.icloud
*.pdf
*.PNG
*.mat

figures/
matlab_processing/bcilab-code-LRK/
communication/
*.asv
._.DS_Store
.DS_Store
chapters/._.DS_Store
chapters/.DS_Store
data.nosync/ds003552/
*.csv
*.fig
*.webarchive